// colors
$color1: #B03B01; // header color
$color2: #075899; // link color

$color3: #666;
$color4: #fff;
$color5: #075899;
$color6: #ccc;

// fonts
$font_family: Arial;
$font_size: 10px;

$border1: 1px solid #666;
$border2: 2px solid #000;

$header: #852201;
$button: #E0645C;
$light: #999999;


